.topBar {
  background-color: blue;
  position: absolute;
  height: 15%;
  width: 100%;
}

.CSheet {
  background-color: red;
  position: absolute;
  height: 85%;
  width: 100%;
  top: 15%;
  
}

.nameBar {
  background-color: grey;
  position: absolute;
  height: 15%;
  width: 40%;
  margin: 1%
}

.statBar {
  background-color: brown;
  position: absolute;
  height: 78%;
  width: 10%;
  margin: 1%;
  bottom: 0%
}