.topBar {
  background-color: blue;
  position: absolute;
  height: 15%;
  width: 100%;
}

.CSheet {
  background-color: lightgrey;
  position: absolute;
  height: 85%;
  width: 100%;
  top: 15%;
  
}

.nameBar {
  background-color: grey;
  position: absolute;
  height: 15%;
  width: 54%;
  margin: 1%
}


.proficiency {
  background-color: grey;
  position: absolute;
  height: 5%;
  width: 12%;
  margin: 1%;
  left: 9%;
  bottom: 68%
}
.savingThrows {
  background-color: grey;
  position: absolute;
  height: 27%;
  width: 12%;
  margin: 1%;
  left: 9%;
  bottom: 40%
}

.skills {
  background-color: grey;
  position: absolute;
  height: 79%;
  width: 13%;
  margin: 1%;
  left: 41%;
  bottom: 0%
}

.hitpoints {
  background-color: grey;
  position: absolute;
  height: 39%;
  width: 31%;
  margin: 1%;
  left: 9%;
  bottom: 0%
}

.attacks {
  background-color: grey;
  position: absolute;
  height: 39%;
  width: 18%;
  margin: 1%;
  left: 22%;
  bottom: 40%
}

.inventory {
  background-color: grey;
  position: absolute;
  height: 39%;
  width: 21%;
  margin: 1%;
  right: 0%;
}

.featuresandtraits {
  background-color: grey;
  position: absolute;
  height: 55%;
  width: 21%;
  margin: 1%;
  right: 22%;
}

.psandls {
  background-color: grey;
  position: absolute;
  height: 39%;
  width: 21%;
  margin: 1%;
  right: 22%;
  bottom: 0%
}

.spellbook {
  background-color: grey;
  position: absolute;
  height: 55%;
  width: 21%;
  margin: 1%;
  right: 0%;
  bottom: 0%
}

.grow { 
  transition: all .2s ease-in-out; 
  transform-style: preserve-3d;
}
  
.grow:hover { 
  transform: scale(1.03); 
}

.statBar {
  display: flex;
  flex-direction: column;
  background-color: grey;
  position: absolute;
  height: 79%;
  width: 8%;
  margin: 1%;
  bottom: 0%;
  align-items: center;
}

.statBox {
  display: flex;
  justify-content: flex-start;
  background-color: white;
  width: 80%;
  height: 15%;
  margin: 5%
}

.statBoxLabel {
  position: absolute;
}

.cursorHover {
  cursor: pointer
}

.statBoxStat {
  font-size: 40px;
}

.inspiration {
  background-color: grey;
  position: absolute;
  height: 5%;
  width: 12%;
  margin: 1%;
  left: 9%;
  bottom: 74%
}

.inspirationToggle {
  background-color: white;
  float: right;
  width: 20%;
  height: 60%;
  margin: 4%;
  text-align: center;
}

.iTSymbol {
  top: 1%;
}