.topBar {
  background-color: blue;
  position: absolute;
  height: 15%;
  width: 100%;
}

.CSheet {
  background-color: lightgrey;
  position: absolute;
  height: 85%;
  width: 100%;
  top: 15%;
  
}

.nameBar {
  background-color: grey;
  position: absolute;
  height: 15%;
  width: 43%;
  margin: 1%
}

.statBar {
  background-color: grey;
  position: absolute;
  height: 79%;
  width: 8%;
  margin: 1%;
  bottom: 0%
}

.inspiration {
  background-color: grey;
  position: absolute;
  height: 5%;
  width: 12%;
  margin: 1%;
  left: 9%;
  bottom: 74%
}

.proficiency {
  background-color: grey;
  position: absolute;
  height: 5%;
  width: 12%;
  margin: 1%;
  left: 9%;
  bottom: 68%
}
.savingThrows {
  background-color: grey;
  position: absolute;
  height: 20%;
  width: 12%;
  margin: 1%;
  left: 9%;
  bottom: 47%
}

.skills {
  background-color: grey;
  position: absolute;
  height: 46%;
  width: 12%;
  margin: 1%;
  left: 9%;
  bottom: 0%
}

.hitpoints {
  background-color: grey;
  position: absolute;
  height: 39%;
  width: 21%;
  margin: 1%;
  left: 22%;
  bottom: 40%
}

.attacks {
  background-color: grey;
  position: absolute;
  height: 39%;
  width: 21%;
  margin: 1%;
  left: 22%;
  bottom: 0%
}

.inventory {
  background-color: grey;
  position: absolute;
  height: 39%;
  width: 21%;
  margin: 1%;
  right: 0%;
}